<!-- Views/Checkout/Confirmation.cshtml -->
<head>
    <title>Order Confirmation</title>
</head>

<body>
    <div style="text-align: center; margin-top: 50px;">
        <h1>Cảm ơn bạn đã đặt hàng!</h1>
        <p>Đơn hàng của bạn đang được xử lý và sẽ sớm được giao đến địa chỉ của bạn.</p>
        <a href="@Url.Action("Index", "Orders")" style="color: #28a745; text-decoration: none;">Trở về Trang Chủ</a>
    </div>
</body>
